@import "tailwindcss";

@font-face {
  font-family: 'Druk-Condensed-Super';
  src: url(./assets/fonts/Druk-Condensed-Super.otf);
}

@theme {
  --color-primary: #d8f900;
  --font-Druk: "Druk-Condensed-Super", "sans-serif";
  --breakpoint-3xl: 120rem;
}

#root {
  height: 100vh;
}

body {
  background-color: rgb(198, 198, 198);
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
